hidden=[".config"]
modules = ["web", "nodejs-20"]
run = "spx serve"

[nix]
channel = "stable-24_05"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "spx serve"]

[[ports]]
localPort = 3000
externalPort = 80
